body{
    background-color: papayawhip;
}
#box1 {
    background-color: blue;
    float:right;
}
#box2 {
    background-color: red;
    float:right;
}
#box3 {
    background-color: purple;
    clear:both;
    float:left;
}
#box4 {
    background-color: green;
    float:left;
}

.box{
    height: 50px;
    width: 50px;
    border: black 1px solid;
    margin-top: 25px;
    padding: 7px;

}